BIDEMO/services/Rest_Services_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Rest_Services"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Rest_ServicesOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Rest_ServicesOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Rest_ServicesOperationRequest">
		<wsdl:part name="parameters" element="tns:Rest_ServicesOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Rest_ServicesOperationResponse">
		<wsdl:part name="parameters" element="tns:Rest_ServicesOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Rest_ServicesPortType">
		<wsdl:operation name="Rest_ServicesOperation">
			<wsdl:input message="tns:Rest_ServicesOperationRequest"></wsdl:input>
			<wsdl:output message="tns:Rest_ServicesOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Rest_ServicesBinding" type="tns:Rest_ServicesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Rest_ServicesOperation">
			<soap:operation soapAction="http://www.talend.org/service/Rest_ServicesOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Rest_Services">
		<wsdl:port name="Rest_ServicesPort" binding="tns:Rest_ServicesBinding">
			<soap:address location="http://localhost:8090/services/Rest_Services" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>